#
# ==============================================
#
#   Basic System Rules for Html2Textile processing
#   Generic Rules
#
# ==============================================
#
[HTML_PREPROCESSING]

[HTML_STYLE_PROCESSING]

[HTML_ELEMENT_PROCESSING]
    REPLACE strong WITH span AND STYLE font-weight: bold;
    REPLACE b WITH span AND STYLE font-weight: bold;
    REPLACE u WITH span AND STYLE text-decoration: underline;
    REPLACE i WITH span AND STYLE font-style: italic
    REPLACE em WITH span AND STYLE font-style:italic

[HTML_ATTRIBUTE_PROCESSING]
    MOVE width TO STYLE
    MOVE text-align TO STYLE

[HTML_STYLE_TO_CLASS_PROCESSING]
    
[HTML_FINAL_STYLE_PROCESSING]
    MOVE PATTERN text-align:.* TO ATTRIBUTE
    MOVE font-style:italic TO ELEMENT em
    MOVE font-weight: bold; TO ELEMENT strong
    MOVE text-decoration: underline TO ELEMENT u
    MOVE PATTERN width:.* TO ATTRIBUTE

[HTML_FINAL_ELEMENT_PROCESSING]
    REMOVE span IF STYLE IS EMPTY

# END OF RULES