#
# =================================
# Rules for Html2Textile processing
# =================================
#
[HTML_PREPROCESSING]
    REPLACE &nbsp; WITH " " 
    REPLACE &lsquo; WITH '
    REPLACE &rsquo; WITH '
[HTML_ELEMENT_PROCESSING]
    REMOVE header
    REMOVE section
    REPLACE strong WITH span AND STYLE font-weight: bold;
    REPLACE b WITH span AND STYLE font-weight: bold;
    REPLACE u WITH span AND STYLE text-decoration: underline;
    REPLACE i WITH span AND STYLE font-style: italic
    REPLACE em WITH span AND STYLE font-style:italic
    REMOVE div IF STYLES margin: 20px 20px 20px 20px; AND font-family: arial,helvetica,sans-serif; AND font-size: 12pt; AND line-height: 1.5em; AND color: #000000;
[HTML_ATTRIBUTE_PROCESSING]
    REMOVE dir IF auto
    REMOVE id IF PATTERN cloak.*
    MOVE width TO STYLE
    MOVE text-align TO STYLE
[HTML_STYLE_PROCESSING]
    REMOVE font-family
    REMOVE PATTERN font-size: 10pt
    REMOVE PATTERN font-size: 12pt
    REMOVE PATTERN color: #000000
    REMOVE PATTERN background-color: inherit
[HTML_FINAL_STYLE_PROCESSING]
    MOVE PATTERN text-align:.* TO ATTRIBUTE
#[HTML_FINAL_ELEMENT_PROCESSING]
#   REPLACE span AND STYLES font-weight: bold; WITH strong
#   REPLACE span AND STYLES font-style:italic WITH em
[HTML_STYLE_TO_CLASS_PROCESSING]
    REPLACE STYLES margin: 0 20px 10px 0px; AND float: left; AND width: 50%; WITH CLASS float-left-50
    REPLACE STYLES margin: 50px 0 0 100px; AND padding: 0; AND float: right; AND width: 20%; AND line-height: 12pt; WITH CLASS float-right-20
#
# final edits on the textile document after its translations
#
[TEXTILE_POSTPROCESSING]
#
# process the three text-align styles associated with headings to native Textile
#
    REPLACE PATTERN ^h(\d)\{(.*)text-align:center;(.*)\}\. (.*)$ WITH h$1{$2$3}=. $4
    REPLACE PATTERN ^h(\d)\{(.*)text-align:left;(.*)\}\. (.*)$ WITH h$1{$2$3}. $4
    REPLACE PATTERN ^h(\d)\{(.*)text-align:right;(.*)\}\. (.*)$ WITH h$1{$2$3}>. $4
#
# process paragraph formatting
# indents - very temporary at moment - only one depth supported
#
    REPLACE PATTERN ^p\{(.*)padding-left:\d*px;(.*)\}\. (.*)$ WITH p{$1$2}((. $3
#
# alignments 
#
    REPLACE PATTERN ^p\{(.*)text-align:center;(.*)\}\. (.*)$ WITH p{$1$2}=. $3
    REPLACE PATTERN ^p\{(.*)text-align:left;(.*)\}\. (.*)$ WITH p{$1$2}<. $3
    REPLACE PATTERN ^p\{(.*)text-align:right;(.*)\}\. (.*)$ WITH p{$1$2}>. $3
    REPLACE PATTERN ^p\{(.*)text-align:justify;(.*)\}\. (.*)$ WITH p{$1$2}<>. $3
#
#   standard style replacement with classes
#
    REPLACE PATTERN ^(.*)\{margin:020px10px0px;float:left;width:50%;\}(.*)$ WITH $1(float-left-50)$2
    REPLACE PATTERN ^(.*)\(halfWidthImg\)\{float:left;\}(.*)$ WITH $1(float-left-50)$2
    REPLACE PATTERN ^(.*)\(halfWidthImg\)\{float:right;\}(.*)$ WITH $1(float-right-50)$2
    REPLACE PATTERN ^(.*)\{margin:50px00100px;padding:0;float:right;width:20%;line-height:12pt;\}.*\. (.*)$ WITH $1(float-right-20). $2
    REPLACE PATTERN ^(.*)\{width:100%;margin:0;padding:0;\}(.*)$ WITH $1$2
    REPLACE PATTERN ^(.*)\(photoleft\)\{float:left;border-width:10px;\}(.*)$ WITH $1(float-left-50)$2
#
# finally remove any empty style definitions
#
    REPLACE PATTERN ^p\{\h*\}(.*)\. (.*)$ WITH p$1. $2
    REPLACE PATTERN ^h(\d)\{\h*\}(.*)\. (.*)$ WITH h$1$2. $3
# and any redundant para definitions
    REPLACE PATTERN ^p<\. (.*)$ WITH $1
    REPLACE PATTERN ^p\. (.*)$ WITH $1
